<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tela-Login</title>
</head>
<body>
 <form>
    <div class="imput-box animation" style="1:1; --j:22">
      <input type="text" required/>
      <label for ="Nome"></label>
      <i class="'box bxs-user'"></i>
    </div>
    
    <div class= "input-box animation" style="1:1; --j:22"> '
      <input type="password" required/>
      <label for ="Senha"></label>
      <i class="'box bx-lock-alt'"></i>  
    </div>
    
    <div>
      <button type="submit" class="btn animation" style=" --i:3; --j24">Login</button>
      <div class="linkText animatiton" style=" --i:5; --j:25"></div>
      <p>Voce não tem uma conta ? <a href="#">Registre-se</a></p>
    </div>
  </form>

</body>
</html>
 